* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

p {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.nav_desktop{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cccccc;
  background: #fff;
  top: 0;
  z-index: 1000;
}

nav .left .logo img{
  width: 35px;
  margin: 5px 0;
  cursor: pointer;
  margin-left: 10px;
}

nav .left .search_bar{
  width: 250px;
  height: 40px;
  background: #efefef;
  border-radius: 30px;
  padding: 0 10px;
  margin-left: 10px;
  position: relative;
  left: 15px;
}

nav .left .search_bar i {
  line-height: 40px;
  font-size: 19px;
  color: #919191;
  margin-left: 5px;
}

nav .left .search_bar input{
  background: transparent;
  outline: none;
  border: 0;
  font-size: 16px;
  width: 200px;
}

nav .center{
  position: relative;
  right: 45px;
}

nav .center i{
  margin: 0 45px 0 45px;
}

nav .center i:hover{
  color: #45abff;
  cursor: pointer;
}

nav .right {
  margin-right: 10px;
}

nav .right i{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #efefef;
  line-height: 35px;
  padding-left: 8px;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

nav .right img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-left: 8px;
  line-height: 45px;
  cursor: pointer;
}



/* main */
.main{
  margin-top: 60px;
  background: #f5f5f5;
}

.main .left{
  width: 25%;
  height: 92vh;
  overflow: hidden;
  overflow-y: scroll;
  background: #f5f5f5;
  padding: 20px 6px 5px 10px;
  position: fixed;
}

.main .left::-webkit-scrollbar{
  width: 7px;
}

.main .left::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: #f5f5f5;
}

.main .left:hover::-webkit-scrollbar {
  background: #cccccc;
}

.main .left .img{
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
  margin-bottom: 10px;
}

.main .left .img:hover {
  background: #e3e3e3;
}

.main .left .img img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 8px 15px 8px 0;
}

.main .left hr{
  width: 100%;
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 10px 0;
}

.main .left h2{
  font-size: 18px;
  color: #919191;
  margin: 5px 0;
}

.main .left .edit{
  color: #45abff;
  font-size: 15px;
  float: right;
  position: relative;
  bottom: 25px;
  cursor: pointer;
  opacity: 0;
}

.main .left:hover .edit {
  opacity: 1;
}

.main .left .shortcuts{
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.main .left .shortcuts:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.main .left .shortcuts img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin: 8px 15px 8px 0;
}

.main .center{
  width: 50%;
  height: auto;
  padding: 20px 20px 0 20px;
  background: #f5f5f5;
  margin-left: 25%;
}

.main .center::-webkit-scrollbar{
  width: 0;
}

.main .center .top_box{
  width: 100%;
  height: 260px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main .center .top_box .my_story_card{
  width: 135px;
  height: 250px;
  overflow: hidden;
  margin: 0 -10px;
  box-shadow: 0 1px 8px rgb(0,0,0,0,2);
  border-radius: 10px;
  cursor: pointer;
}

.main .center .top_box .my_story_card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main .center .top_box .my_story_card .story_upload{
  width: 100%;
  height: 60px;
  background: #fff;
  position: relative;
  bottom: 50px;
  cursor: pointer;
}

.main .center .top_box .my_story_card .story_upload img {
  width: 30px;
  height: 30px;
  display: flex;
  margin: 0 auto;
  position: relative;
  bottom: 15px;
  border-radius: 50%;
}

.main .center .top_box .my_story_card .story_upload .story_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

.main .center .top_box .story_card{
  width: 135px;
  height: 250px;
  overflow: hidden;
  margin: 0 -10px;
  box-shadow: 0 1px 8px rgb(0, 0, 0, 0, 2);
  border-radius: 10px;
  cursor: pointer;
}

.main .center .top_box .story_card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main .center .top_box .story_card .story_profile{
  position: relative;
  bottom: 240px;
  margin-left: 10px;
}

.main .center .top_box .story_card .story_profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #45abff;
}

.main .center .top_box .story_card .story_profile .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27cc37;
  border: 2px solid #fff;
  position: relative;
  bottom: 15px;
  left: 25px;
}

.main .center .top_box .story_card .story_name{
  position: relative;
  bottom: 100px;
  padding: 0 10px;
}

.main .center .top_box .story_card .story_name .name{
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}

.post{
  padding: 0 70px 0 20px;
}

.main .center .my_post{
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgb(0,0,0,0.2);
  margin: 10px 0;
}

.main .center .my_post .post_top img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.main .center .my_post .post_top {
  display: flex;
  align-items: center;
}

.main .center .my_post .post_top input{
  width: 90%;
  padding: 10px;
  margin-left: 20px;
  border: 0;
  outline: none;
  background: #efefef;
  border-radius: 30px;
  font-size: 17px;
}

.main .center .my_post .post_top  input:hover{
  background: #e3e3e3;
  cursor: pointer;
}

.main .center .my_post hr{
  width: 100%;
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 10px 0;
}

.main .center .my_post .post_bottom{
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px auto;
}

.main .center .my_post .post_bottom p{
  margin: 0;
}

.main .center .my_post .post_bottom .post_icon {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0 auto;
  padding: 5px 15px;
  cursor: pointer;
}

.main .center .my_post .post_bottom .post_icon:hover {
  background: #efefef;
  border-radius: 8px;
}

.main .center .friends_post{
  margin: 10px 0;
  width: 100%;
  background: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.main .center .friends_post .friend_post_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.main .center .friends_post .friend_post_top .img_and_name {
  display: flex;
  align-items: center;
}

.main .center .friends_post .friend_post_top .img_and_name img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
  cursor: pointer;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name{
  font-weight: bold;
  cursor: pointer;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name:hover {
  text-decoration: underline;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .time {
  font-size: 14px;
  color: #919191;
  margin: 3px 0;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .time i {
  font-size: 10px;
  margin-left: 5px;
}

.main .center .friends_post .friend_post_top .menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.main .center .friends_post .friend_post_top .menu:hover {
  background: #efefef;
  cursor: pointer;
}

.main .center .friends_post .friend_post_top .menu i{
  line-height: 35px;
  margin-left: 8px;
  font-size: 18px;
}

.main .center .friends_post img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.main .center .friends_post .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.main .center .friends_post .info .emoji_img{
  display: flex;
}

.main .center .friends_post .info .emoji_img img{
  width: 20px;
  height: 20px;
}

.main .center .friends_post .info .emoji_img p{
  margin-left: 10px;
  font-size: 16px;
  color: #919191;
}

.main .center .friends_post .info .comment{
  display: flex;
  align-items: center;
}

.main .center .friends_post .info .comment p{
  padding: 0 5px;
  font-size: 15px;
  color: #919191;
}

.main .center .friends_post hr{
  width: 100%;
  height: 1px;
  background: #cccccc;
  border: 0;
  margin: 10px 0;
}

.main .center .friends_post .like{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .center .friends_post .like .like_icon{
  display: flex;
  align-items: center;
}

.main .center .friends_post .like .like_icon i {
  font-size: 20px;
  margin-right: 8px;
  color: #919191;
}

.main .center .friends_post .like .like_icon i.activi {
  color: #45abff;
}

.main .center .friends_post .comment_warpper{
  display: flex;
  align-items: center;
}

.main .center .friends_post .comment_warpper img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 15px;
}

.main .center .friends_post .comment_warpper .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27cc37;
  border: 2px solid#fff;
  position: relative;
  top: 10px;
  right: 25px;
}

.main .center .friends_post .comment_warpper .comment_search{
  width: 95%;
  padding: 5px 15px;
  background: #efefef;
  border-radius: 30px;
}

.main .center .friends_post .comment_warpper .comment_search input {
  width: 80%;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}

.main .center .friends_post .comment_warpper .comment_search i{
  padding: 0 3px;
  color: #919191;
}

.main .center .loard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.main .center .loard button{
  background: none;
  padding: 5px 20px;
  border: 1px solid #919191;
  color: #919191;
  border-radius: 5px;
  cursor: pointer;
}

.main .center .end{
  font-size: 15px;
  text-align: center;
  color: #919191;
  margin: 10px 0;
}

.main .center .end span{
  margin-left: 8px;
  color: #45abff;
}

.main .center .end span i{
  margin-right: 8px;
}

.main .right{
  width: 25%;
  height: 92vh;
  overflow: hidden;
  overflow-y: scroll;
  background: #f5f5f5;
  padding: 20px 10px 5px 6px;
  position: fixed;
  right: 0;
}

.main .right::-webkit-scrollbar{
  width: 7px;
}

.main .right::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #f5f5f5;
}

.main .right:hover::-webkit-scrollbar-thumb {
  background: #cccccc;
}

.right h4{
  color: #919191;
  margin-top: 20px;
}

.people{
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.people:hover{
  background: #efefef;
  cursor: pointer;
  border-radius: 8px;
}
.people img{
  width: 35px;
  height: 35px;
}

.people p{
  font-weight: bold;
}

.people span{
  font-weight: normal;
}

.contact h4{
  font-size: 18px;
  margin: 5px 0;
}
.contact .contact_icon i{
  margin: 0 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  padding-left: 10px;
}

.contact i:hover{
  background: #efefef;
  cursor: pointer;
}

.online{
  display: flex;
  align-items: center;
  padding-left: 13px;
}

.online:hover{
  background: #efefef;
  cursor: pointer;
  border-radius: 5px;
}

.online img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 8px 15px 8px 0;
  border: 3px solid #45abff;
  cursor: pointer;
}

.online .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27cc37;
  border: 2px solid #fff;
  position: relative;
  bottom: 20px;
  left: 23px;  
}

.group_conversation h4{
  color: #919191;
  font-size: 18px;
}

.conversation{
  display: flex;
  align-items: center;
  transition: 0.2s;
  padding-left: 10px;

}

.conversation:hover{
  cursor: pointer;
  background: #efefef;
  border-radius: 10px;
}

.conversation img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 8px 15px 8px 0;
}

.conversation p{
  font-size: 18px;
}

.conversation .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27cc37;
  border: 2px solid #fff;
  position: relative;
  bottom: 0;
  right: 27px;
}

.creat_group:hover{
  background: #efefef;
  border-radius: 10px;
  cursor: pointer;
}

.creat_group i{
  background: #e3e3e3;
  border-radius: 50%;
  padding: 10px;
  margin-left: 20px;
}

.nav_mobile{
  display: none;
}

.main_mobile{
  display: none;
}

@media(max-width:500px){

  html{
    width: 100%!important;
  }

  .nav_desktop{
  display: none!important;
  }

  .main_desktop {
    display: none;
  }

  .main_mobile{
    display: block!important;
    margin-top: 33%;
  }

  .nav_mobile{
    display: block!important;
    position: fixed;
    border-bottom: 1px solid #cccccc;
    background: #fff;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    padding: 12px 10px;
  }

  .face_div{
    justify-content: space-between;
    align-items: center;
  }

  .face h4{
    color: blue;
    font-weight: 600;
    font-size: 22px;
  }

  .face_div i{
    background: #cccccc;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 8px;
  }

  .nav_icons{
    color: #cccccc;
    margin-top: 15px;
  }

  .nav_icons i:hover{
    color: blue;
    cursor: pointer;
  }

  .main_m{
    width: 100%;
  }

  .kil_div2{
    border-bottom: 4px solid #cccccc;
    width: 100%;
  }

  .kil_div{
    align-items: center;
    padding-left: 5px;
    gap: 8px;
    margin-bottom: 8px;
    width: 100%;
    justify-content: center;
  }

  .kil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .kil .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
  }

  .kil_div input{
    width: 70%;
    padding: 10px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 16px;
  }

  .kil_div p{
    font-size: 10px;
  }

  .storys{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .my_story{
    width: 110px;
    height: 200px;
    overflow: hidden;
    margin: 0 -10px;
    box-shadow: 0 1px 8px #cccccc;
    border-radius: 10px;
    cursor: pointer;
  }

  .my_story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .my_story .upload{
    width: 100%;
    height: 60px;
    background: #fff;
    position: relative;
    bottom: 50px;
    cursor: pointer;
  }

  .my_story .upload img{
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    border-radius: 50%;
  }

  .my_story .upload .tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
  }

  .friend_story{
    width: 110px;
    height: 200px;
    overflow: hidden;
    margin: 0 -10px;
    box-shadow: 0 1px 8px #cccccc;
    border-radius: 10px;
    cursor: pointer;
  }

  .friend_story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .friend_story .profile{
    position: relative;
    bottom: 198px;
    margin-left: 10px;
  }

  .friend_story .profile img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 4px solid #45abff;
  }

  .friend_story .profile .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
  }

  .friend_story .profile .name_div{
    bottom: 0;
    padding: 0 10px;
  }

  .friend_story .profile .name_div .name{
    font-weight: bold;
    color: #fff;
    font-size: 14px;
  }

  .center_mobile{
    width: 100%;
  }

  .center_mobile .post{
    padding: 0;
  }

  .center_mobile .friends_post{
    margin: 10px 0;
    border-bottom: 4px solid #cccccc;
  }

  .center_mobile .friends_post img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  
  .center_mobile img{
    width: 100%;
  }

  .center_mobile .friends_post .friend_post_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .center_mobile .friends_post .friend_post_top .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .center_mobile .friends_post .friend_post_top .menu:hover{
    background: #efefef;
    cursor: pointer;
  }
  
  .center_mobile .friends_post .friend_post_top .menu i{
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
  }

  .center_mobile .img_and_name{
    display: flex;
    align-items: center;
  }

  .center_mobile .img_and_name .friends_name {
    font-weight: bold;
    cursor: pointer;
  }

  .center_mobile .img_and_name .friends_name:hover {
    text-decoration: underline;
  }

  .center_mobile .img_and_name .friends_name .time{
    font-size: 14px;
    color: #919191;
    margin: 3px 0;
  }

  .center_mobile .img_and_name img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
  }

  .center_mobile .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  .center_mobile .info .emoji_img{
    display: flex;
    padding: 0 5px;
  }
  
  .center_mobile .info .emoji_img img{
    width: 20px;
    height: 20px;
  }

  .center_mobile .like{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 5px;
  }

  .center_mobile .like_icon{
    background: #cccccc;
    border-radius: 20px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .center_mobile .like_icon i{
    margin-top: 0.5px;
    color: #919191;
    font-size: 20px;
  }
  
  .center_mobile .like_icon .activi{
    color: #45abff;
  }

  .center_mobile .loard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 50px 0;
  }
  
  .center_mobile .loard button{
    background: none;
    padding: 5px 20px;
    border: 1px solid #919191;
    color: #919191;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .center_mobile .end{
    font-size: 15px;
    text-align: center;
    color: #919191;
    margin: 10px 0;
  }
  
  .center_mobile .end span{
    margin-left: 8px;
    color: #45abff;
  }

}